@font-face {
    font-family: "Soda-shake";
    src: url(./assets/fonts//Soda\ Shake.ttf) format("truetype"), url(./assets/fonts/Soda\ Shake.otf) format("opentype")
  }
  *{
    cursor:pointer;
  }

  :root{
    --myWidth:1964px;
  }

  body {
    font-family: Soda-shake;
    background:#65c2a9;
    
  }

  .buttons{
    display:"none" !important;
  }
  button {

    position:absolute;
    width:calc(10*var(--myWidth)/100);
    height:calc(4*var(--myWidth)/100);
    font-size: calc(1.4*var(--myWidth)/100);
    /* margin:5px; */
    left:calc(1*var(--myWidth)/100);
    z-index: 3;
  }

  button:nth-child(2) {
    left: calc(11.5*var(--myWidth)/100);
  }
  button:nth-child(3) {
    left: calc(22*var(--myWidth)/100);
  }

  .completed{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    top:0px;
    left: 0;
    right: 0;
    text-align: center;
    display:"none";
    font-weight: normal;
    z-index: 2;

  }

  .again{
    top:50vh;
    text-decoration: underline;
  }

  .play{
    top:calc(13*var(--myWidth)/100);;
  }
/* 
  .ui-droppable-active{
    background: #90aeff;
  }
  .ui-droppable-hover{
    background:#f290ff;
  } */

  p{font-size: calc(6*var(--myWidth)/100);margin:0}
  h1{font-size:calc(9*var(--myWidth)/100);}

  .draggable {    
    display: inline-block;
    border: 0px;
    background:#ffffff00;
    padding:calc(1.5*var(--myWidth)/100);
  }

  .droppable {
    display: inline-block;
    margin: 10px;
    border: 0px;
    background:#ffffff00;
    color:#777777;
    padding:5px;
  }






  

  #droppable-container{
    display: flex;

    justify-content: center;
    align-items:end;
    height:50vh;
    z-index: 1

  }

  #droppable-word{

    display: flex;
    flex-wrap: nowrap;
    gap:3vw;
    /* justify-content: center;
    align-items: center */
  }

  #draggable-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:30vh;
    margin-top:5vh;
    z-index: 1;


  }

  .draggable-word{
    display: flex;
    flex-wrap: nowrap;
    gap:10vw;
    justify-content: center;
    align-items: center;
  }

  .filled{
    color:#77777700
  }

  /* @media (max-width: 960px) {
    p {
      font-size: 16px;
    }
  } */