@font-face {
    font-family: "Soda-shake";
    src: url(./assets/fonts//Soda\ Shake.ttf) format("truetype"), url(./assets/fonts/Soda\ Shake.otf) format("opentype")
  }
  *{
    cursor:pointer;
  }

  body {
    font-family: Soda-shake;
    
  }

  #completed{
    position:absolute;position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display:"none";
  }
/* 
  .ui-droppable-active{
    background: #90aeff;
  }
  .ui-droppable-hover{
    background:#f290ff;
  } */

  p{font-size: 5.2rem;margin:0}
  h1{font-size:8rem;}

  .draggable {    display: inline-block;}
  .droppable {display: inline-block; margin: 10px;}
  

  #droppable-container{
    display: flex;

    justify-content: center;
    align-items:end;
    height:50vh;

  }

  #droppable-word{

    display: flex;
    flex-wrap: nowrap;
    gap:2em;
    /* justify-content: center;
    align-items: center */
  }

  #draggable-container{
    display: flex;

    justify-content: center;
    align-items:start;
    height:50vh;
    margin-top:5vh


  }

  #draggable-word{
    display: flex;
    flex-wrap: nowrap;
    gap:7em;
    justify-content: center;
    align-items: center;
  }